{% extends 'base.html' %}
{% block title %}
<title>Login - Titanium</title>
{% endblock title %}


{% block navButton %}
<a href="/reg">
  <div class="d-flex">
    <button class="btn btn-outline-dark"">Register</button>
  </div>
</a>
{% endblock navButton %}

{% block body %}
    
<!-- wrapper starts here -->
<div class=" container">
    <div class="wrapperX">
      <form action="#" method="post">
        <h1 class="display-1 my-3">Login</h1>
        <div class="form-floating mb-3">
          <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
          <label for="floatingPassword">Password</label>
        </div>
        <input type="submit" value="Submit" class="btn btn-outline-dark my-3">
      </form>
    </div>
</div>


{% endblock body %}